# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.class

# Config VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.sqlite3
*.swp
*.swo

# Jupyter
.ipynb_checkpoints

# Cobertura y pruebas
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
